{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content %}

    <h1>Lista artikala</h1>
    <div id="table">
        <table>
            <thead>
            <tr>
                <th>Akcije</th>
                <th>Sifra artikla</th>
                <th>Aktivan</th>
                <th>Kategorija</th>
                <th>Brend</th>
                <th>Naziv modela</th>
                <th>Boja</th>
                <th>Velicina</th>
                <th>Opis</th>
                <th>Cena</th>
                <th>Popust u %</th>
                <th>Cena sa popustom</th>
                <th>Slika</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('product_show', { 'id': entity.id }) }}">prikazi</a></td>
                    <td>{{ entity.productCode }}</td>
                    <td>{{ entity.active }}</td>
                    <td>{{ entity.category }}</td>
                    <td>{{ entity.brand }}</td>
                    <td>{{ entity.productName }}</td>
                    <td>{{ entity.productColor }}</td>
                    <td>{{ entity.productSize }}</td>
                    <td><div class="description">{{ entity.productDescription | raw }}</div></td>
                    <td>{{ entity.productPrice }}</td>
                    <td>{{ entity.productRabat }}</td>
                    <td>{{ entity.productSalePrice }}</td>
                    <td><div class="description"><a href="{{ asset ('uploads/documents/') }}{{ entity.imgPath }}" target="_blank"><img src="{{ asset ('uploads/documents/') }}{{ entity.imgPath }}" /></a></div></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-yellow" href="{{ path('product_new') }}">Dodaj novi artikal</a>

{% endblock %}
