{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content %}

    <h1>Lista kategorija</h1>

    <div id="table">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Akcije</th>
                <th>Naziv kategorije</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>
                        <ul>
                            <li><a href="{{ path('category_show', { 'id': entity.id }) }}">prikazi</a></li>
                            <li><a href="{{ path('category_edit', { 'id': entity.id }) }}">izmeni</a></li>
                        </ul>
                    </td>
                    <td>{{ entity.categoryName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-yellow" href="{{ path('category_new') }}">Dodaj novu kategoriju</a>

{% endblock %}
