{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content %}
<div class="col-md-5">
    <h1>Unos nove kategorije</h1>

    <form action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="form-group">{{ form_row(form.categoryName, {'label': 'Naziv kategorije', 'attr': {'class': 'form-control'}}) }}</div>
        {{ form_row(form._token) }}

        <button class="btn btn-yellow" type="submit">Unesi</button>

    </form>

    <a href="{{ path('category') }}">Back to the list</a>
</div>
{% endblock %}
