<p class="separator">Klik ce vas odvesti na stranicu gde cete uneti adresu isporuke i kontakt informacije.</p>

<table class="table-striped">
    <thead>
    {#<tr>#}
        {#<th>Slika</th>#}
        {#<th>Artikal</th>#}
        {#<th>Kolicina</th>#}
        {#<th>Cena</th>#}
        {#<th>Akcije</th>#}
    {#</tr>#}
    {#</thead>#}
    <tbody>
    {% set total = 0 %}
    {% for entity in entities %}
        <tr>
            <td><img class="image-cart" src="{{ asset ('uploads/documents/') }}{{ entity.product.imgPath }}" /></td>
            <td>{{ entity.product.productName }} {{ entity.product.brand }}</td>
            <td>{{ entity.quantity }}</td>
            <td>
                <ul class="list-unstyled">
                    {% if entity.product.productRabat > 0 %}
                        <li class="product-info price-old">{{ entity.product.productPrice }},00 din</li>
                        <li class="product-info">popust {{ entity.product.productRabat }}%</li>
                        <li class="product-info product-price">{{ entity.product.productSalePrice }},00 din</li>
                    {% else %}
                        <li class="product-info product-price">{{ entity.product.productSalePrice }},00 din</li>
                    {% endif %}
                </ul>

            </td>
            {% set productSuma = entity.product.productSalePrice * entity.quantity %}
            <td>{{ productSuma }},00 din</td>
            <td>
                <ul class="list-unstyled">
                    <li>
                        <a onclick="cart.addToCart({{ entity.product.id }})"><span class="glyphicon glyphicon-plus-sign"></span></a>
                    </li>
                    <li>
                        <a onclick="cart.removeFromCart({{ entity.product.id }})"><span class="glyphicon glyphicon-minus-sign"></span></a>
                    </li>
                    <li>
                        <a onclick="cart.deleteFromCart({{ entity.product.id }})"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </li>
                </ul>
            </td>
        </tr>
        {% set total = total + productSuma %}
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Ukupno za placanje:</td>
        <td>{{ total }},00 din</td>
    </tr>
    </tbody>
</table>


    <a href="{{ path('cart_checkout') }}" class="btn btn-yellow">Zavrsi kupovinu</a>


{% if message is defined %}
        {{ message }}
{% endif %}
