{% extends 'CommonBundle::layout.html.twig' %}

{% block content %}

{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert alert-{{ label }}">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

<p class="separator">Popunite adresu isporuke.</p>

<form action="{{ path('cart_finish') }}" method="post" {{ form_enctype(form) }} novalidate>
    <div class="form-group">{{ form_row(form.name, {'label': 'Ime i Prezime', 'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.address, {'label': 'Adresa', 'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.zip, {'label': 'Postanski broj', 'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.city, {'label': 'Grad', 'attr': {'class': 'form-control'}}) }}</div>
    <div class="form-group">{{ form_row(form.phone, {'label': 'Kontakt telefon', 'attr': {'class': 'form-control'}}) }}</div>
    {{ form_row(form._token) }}

    <button class="btn btn-yellow" type="submit">Potvrdi</button>

</form>

{% endblock %}
