{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content %}
    <div class="col-md-5">
        <h1>Izmena brenda</h1>

        <form action="{{ path('brand_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
            <input type="hidden" name="_method" value="PUT" />
            {{ form_widget(edit_form) }}
            <p>
                <button type="submit">Izmeni</button>
            </p>
        </form>

        <ul>
            <li><a href="{{ path('brand') }}">Povratak na listu</a></li>
            <li>
                <form action="{{ path('brand_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-yellow" type="submit">Izbrisi brend</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
