{% extends '::base.html.twig' %}

{% block body -%}
<div id="magacin">
    <h1>Lista brendova</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Akcije</th>
                <th>Naziv brenda</th>
                <th>Opis</th>
                <th>Slika</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('brand_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('brand_show', { 'id': entity.id }) }}">prikazi</a>
                        </li>
                        <li>
                            <a href="{{ path('brand_edit', { 'id': entity.id }) }}">izmeni</a>
                        </li>
                    </ul>
                </td>
                <td>{{ entity.brandName }}</td>
                <td>{{ entity.brandDescription }}</td>
                <td><a href="{{ asset ('uploads/documents/') }}{{ entity.img_path }}" target="_blank">{{ entity.img_path }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li class="admin_button">
            <a href="{{ path('brand_new') }}">
                Dodaj novi brend
            </a>
        </li>
    </ul>
</div>
    {% endblock %}
