{% extends 'CommonBundle::admin_layout.html.twig' %}

{% block content %}

    <div class="col-md-5">
        <h1>Unos novog artikla</h1>

        <form action="{{ path('brand_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="form-group">{{ form_row(form.brandName, {'label': 'Naziv brenda', 'attr': {'class': 'form-control'}}) }}</div>
            {{ form_row(form._token) }}

            <button class="btn btn-yellow" type="submit">Unesi</button>
        </form>

        <ul>
            <li><a href="{{ path('brand') }}">Povratak na listu</a></li>
        </ul>
    </div>
{% endblock %}
