{% extends 'ProductBundle::layout.html.twig' %}

{% block content -%}

<div id="products">
<div id="product">

    <div id="images">
        <img src="{{ asset ('uploads/documents/') }}{{ product.img_path }}" />
    </div>

    <div id="info">
        <div class="hor_separator"></div>
        <div class="product_info">{{ product.brand.brandName }} {{ product.productName }}</div>
        <div class="product_property">velicina {{ product.productSize }}</div>

        {% if product.productRabat > 0 %}
            <div class="rabat">{{ product.productRabat }}</div>
            <div class="product_info old_price">{{ product.productPrice }}</div>
            <div class="product_info">{{ product.productSalePrice }}</div>
        {% else %}
            <div class="product_info">{{ product.productPrice }}</div>
        {% endif %}

        <img class="brand_logo" src="{{ asset ('uploads/documents/') }}{{ product.brand.img_path }}" />
    </div>

    <div id="description">
        <div class="product_info">{{ product.productDescription | raw }}</div>
        <div class="content_line"></div>
        <div class="product_info">{{ product.brand.brandDescription | raw }}</div>
    </div>

</div>
</div>

{% endblock %}








