{% extends 'CommonBundle::layout.html.twig' %}

{% block content -%}

    <div class="product col-md-12">
        <div class="row">
        <div class="images col-md-6 col-xs-6">
            <img src="{{ asset ('uploads/documents/') }}{{ product.img_path }}" />
        </div>

        <div class="product-properties col-md-6 col-xs-6">
            <p class="product-info">{{ product.brand.brandName }} {{ product.productName }}</p>
            <p class="product-property">sifra artikla {{ product.productCode }}</p>
            <p class="product-property">boja {{ product.productColor }}</p>
            <p class="product-property">velicina {{ product.productSize }}</p>
            {% if product.productRabat > 0 %}
                <div class="product-rabat">{{ product.productRabat }}</div>
                <p class="product-info old-price">{{ product.productPrice }}</p>
                <p class="product-info">{{ product.productSalePrice }}</p>
            {% else %}
                <p class="product-info">{{ product.productPrice }}</p>
            {% endif %}
            <img class="brand-logo" src="{{ asset ('uploads/documents/') }}{{ product.brand.img_path }}" />
        </div>
        </div>

        <div class="product-description">
            <p class="product-info">{{ product.productDescription | raw }}</p>
            <p class="product-info">{{ product.brand.brandDescription | raw }}</p>
        </div>

            <a class="btn btn-yellow" onclick="cart.addToCart({{ product.id }})">Dodaj u korpu</a>

    </div>

{% endblock %}








