{% extends '::base.html.twig' %}

{% block body -%}
<div id="header">
    <div id="logo"></div>
    <div id="scroll_text"></div>
</div>

<div id="all">

    <div id="navigation">
        <ul>
            {% for category in categories %}
            <li><a href="{{ path('category_products', {'categoryName': category.categoryName|lower}) }}">{{ category.categoryName }}</a></li>
            {% endfor %}
            <div class="content_line"></div>
            <li><a href="{{ path('homepage') }}">Naslovna</a></li>
            <div class="content_line"></div>
            <li><a href="{{ path('cart') }}">Korpa</a></li>
            <div id="cart_product"></div>
            <div class="content_line"></div>
        </ul>
    </div>

    {% block content -%}
    {% endblock %}

    <div id="left_bottom"></div>

    <div id="recomended_products">
    <div class="content_line"></div>
    <h2>Možda će Vas interesovati sledeći proizvodi</h2>
            {% for recomendedProduct in recomendedProducts|slice(0, 5) %}
                <div class="product">
                    <div class="small_img">
                    <a href="{{ path('selected_product', { 'categoryName': recomendedProduct.category|lower, 'id': recomendedProduct.id }) }}"><img src="{{ asset ('uploads/documents/') }}{{ recomendedProduct.img_path }}" /></a>
                    </div>
                    <div class="product_info">{{ recomendedProduct.brand.brandName }} {{ recomendedProduct.productName }}</div>
                    <div class="product_property">velicina {{ recomendedProduct.productSize }}</div>

                    {% if recomendedProduct.productRabat > 0 %}
                        <div class="rabat">{{ recomendedProduct.productRabat }}</div>
                        <div class="product_info old_price">{{ recomendedProduct.productPrice }}</div>
                        <div class="product_info">{{ recomendedProduct.productSalePrice }}</div>
                    {% else %}
                        <div class="product_info">{{ recomendedProduct.productPrice }}</div>
                    {% endif %}

                    <div class="cart_button">
                        <a onclick="addToCart({{ recomendedProduct.id }})">Dodaj u korpu</a>
                    </div>

                </div>
            {% endfor %}

    </div>
    <div id="footer">
        <p><a href="{{ path('admin_home') }}">magacin</a></p>
        <p>copyrights skateshop stance 2013.</p>
    </div>
</div>
{% endblock %}

