{% extends 'CommonBundle::layout.html.twig' %}

{% block content %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="col-md-6">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    <div class="col-md-6">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <p>
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </p>
            <p>
            <a href="{{ path('fos_user_profile_edit') }}">Izmeni podatke</a>
            </p>
            <p>
                <a href="{{ path('fos_user_change_password') }}">Izmeni lozinku</a>
            </p>
        {% else %}
            {% block poruka %}
            {% endblock %}
        {% endif %}
    </div>

{% endblock %}
